.global-header {
  @include boxShadow(sm);
  position: sticky;
  top: 0;
  @include flex(row);
  justify-content: center;
  &__title {
    @include fontWeight(sm);
    @include fontSize(lg);
    transition: 0.35s all;
    &:hover {
      letter-spacing: 0.15em;
    }
  }
}