.global-footer {
  background-color: var(--c-brand);
  padding: var(--p-default);
  align-items: center;
  border-top: 1px solid #00000046;
  margin-top: 0.25px;
  @media (--viewport-mobile) {
    @include flex--column;
  }
  @media (--viewport-desktop) {
    @include flex--row;
  }
  &__title {
    @include heading(var(--fw-sm), var(--fs-lg), var(--fs-lg));
    @media (--viewport-desktop) {
      flex: 1;
      padding: 0px 10px;
    }
    &--link {
      @include element--link;
    }
  }
  &__copyright {
    @media (--viewport-mobile) {
      font-size: var(--fs-xs);
      padding: var(--p-default);
    }
    @media (--viewport-desktop) {
      font-size: var(--fs-sm);
      padding: 0px 10px;
    }
  }
}
