.global__header {
  background-color: var(--color-brand);
  box-shadow: 1px 1px 5px #0000009c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  & .global__header__title {
    color: var(--color-text-light);
    font-weight: var(--font-weight);
    padding: 5px 10px;
    @media (--viewport-mobile) {
      font-size: 2.25em;
    }
    @media (--viewport-desktop) {
      font-size: 2.65em;
    }
    & a {
      text-decoration: none;
      color: inherit;
    }
  }
}