.global-site-message-bottom {
  @include padding(md);
  @include boxShadow(sm);
  border-top-left-radius: map-get($borderRadius, 'sm');
  border-top-right-radius: map-get($borderRadius, 'sm');
  background-color: black;
  position: sticky;
  bottom: 0;
  .global-site-message__text {
    color: $color-primary;
    @include mobile {
      @include fontSize(sm);
    }
    @include desktop {
      @include fontSize(md);
    }
  }
}