.global-site-message-top {
  @include padding(xs);
  position: relative;
  top: 0;
  background-color: black;
  .global-site-message__text {
    @include fontSize(xs);
    @include fontWeight(lg);
    color: $color-primary;
  }
}