
.global-header-footer {
  background-color: $color-primary;
  @include padding(md);
  z-index: 100000000;
  width: 100%;
  &__title {
    &--link {
      text-decoration: none;
      color: inherit;
    }
  }
}
