.hero__current_movie_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: var(--color-brand-2);
  /* Unfortunately, inline styling is severely broken so the !important
     modifier had to be used in order to keep the styling consistent
     when updating the image. */
  background-size: cover !important;
  background-repeat: no-repeat !important;
}