#flipped {
  @media (--viewport-desktop) {
    flex-direction: row-reverse;
  }
}

.hero__medium_large {
  display: flex;
  background-color: var(--color-brand-3);
  @media (--viewport-mobile) {
    flex-direction: column;
  }
  @media (--viewport-desktop) {
    flex-direction: row;
    align-items: center;
  }
  & .hero__medium_large__content {
    padding: var(--padding);
    background-color: var(--color-brand-2);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    @media (--viewport-mobile) {
      margin: 10px 0px;
    }
    @media (--viewport-desktop) {
      max-width: 50%;
      flex: 1;
      height: 100%;
      margin: 10px 20px;
    }
    & .hero__medium_large__content__title {
      font-weight: var(--font-weight);
      margin: 10px 0px;
      color: var(--color-text-light);
      @media (--viewport-mobile) {
        font-size: 2.1em;
      }
      @media (--viewport-desktop) {
        font-size: 2.45em;
      }
    }
    & .hero__medium_large__content__section {
      display: flex;
      flex-direction: column;
      & .hero__medium_large__content__section__text {
        line-height: 170%;
        margin: 10px 0px;
        color: var(--color-text-light);
        @media (--viewport-mobile) {
          font-size: 1.4em;
        }
        @media (--viewport-desktop) {
          font-size: 1.6em;
        }
      }
    }
  }
  & .hero__medium_large__img__wrapper {
    @media (--viewport-desktop) {
      --width: 50%;
      min-width: var(--width);
      width: var(--width);
      max-width: var(--width);
    }
    & .hero__medium_large__img {
      width: 100%;
      @media (--viewport-mobile) {
        --height: 50vh;
        min-height: var(--height);
        height: var(--height);
        max-height: var(--height);
      }
      @media (--viewport-desktop) {
        border-radius: var(--border-radius);
      }
    }
  }
}