.hero__medium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-2);
  & .hero__medium__content {
    background-color: var(--color-brand-2);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    @media (--viewport-mobile) {
      width: 100%;
    }
    @media (--viewport-desktop) {
      width: 50%;
    }
    & .hero__medium__content__title {
      font-weight: var(--font-weight);
      margin: 10px 0px;
      color: var(--color-text-light);
      @media (--viewport-mobile) {
        font-size: 2.1em;
      }
      @media (--viewport-desktop) {
        font-size: 2.45em;
      }
    }
    & .hero__medium__content__section {
      display: flex;
      flex-direction: column;
      & .hero__medium__content__section__text {
        line-height: 170%;
        margin: 10px 0px;
        color: var(--color-text-light);
        @media (--viewport-mobile) {
          font-size: 1.4em;
        }
        @media (--viewport-desktop) {
          font-size: 1.6em;
        }
      }
    }
    & .hero__medium__content__img {
      width: 100px;
      height: 100px;
      text-align: right;
      align-self: flex-end;
    }
  }
}