.hero-full-screen {
  --w: 100%;
  background-color: var(--c-brand-2);
  @include width-height--min-max(width, var(--w));
  @media (--viewport-mobile) {
    margin: 30px 0px;
    &:first-child {
      .hero-full-screen__content {
        margin-top: 78px;
      }
    }
  }
  @media (--viewport-desktop) {
    &:nth-child(odd) {
      .hero-full-screen__content {
        @include flex-row;
        &--image-section {
          &__image {
            --p: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
            @supports (
              clip-path: var(--p)
            ) {
              clip-path: var(--p);
            }
          }
        }
      }
    }
    &:nth-child(even) {
      .hero-full-screen__content {
        @include flex-row-reverse;
        &--image-section {
          &__image {
            --p: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
            @supports (clip-path: var(--p)) {
              clip-path: var(--p);
            }
          }
        }
      }
    }
  }
  &__content {
    @media (--viewport-mobile) {
      --w: 95%;
      @include flex-column-reverse;
      padding: var(--p-default);
      box-shadow: var(--bs-default);
      @include width-height--min-max(width, var(--w));
      margin: 0px auto;
      border-radius: var(--br-default);
    }
    @media (--viewport-desktop) {
      --h: 100vh;
      @include width-height--min-max(height, var(--h));
    }
    &--text-section {
      background-color: var(--c-brand-2);
      @include flex-column;
      @media (--viewport-mobile) {
        align-items: center;
        padding: var(--p-default);
        text-align: center;
      }
      @media (--viewport-desktop) {
        --w: 50%;
        flex: 1;
        justify-content: center;
        @include width-height--min-max(width, var(--w));
      }
      &__title {
        font-weight: var(--fw-default);
        line-height: var(--lh-default);
        @media (--viewport-mobile) {
          font-size: var(--fs-lg);
        }
        @media (--viewport-desktop) {
          font-size: var(--fs-xxxl);
          margin: 0px 20px;
        }
      }
      &__description {
        line-height: var(--lh-default);
        font-weight: var(--fw-default);
        margin: 0px 20px;
        @media (--viewport-mobile) {
          font-size: var(--fs-big);
        }
        @media (--viewport-desktop) {
          font-size: var(--fs-xl);
        }
      }
    }
    &--image-section {
      background-color: var(--c-brand-2);
      @media (--viewport-desktop) {
        --w: 50%;
        @include width-height--min-max(width, var(--w));
      }
      &__image {
        --wh: 100%;
        @include width-height--min-max(width, var(--wh));
        @include width-height--min-max(height, var(--wh));
        border-radius: var(--br-default);
      }
    }
  }
}
