/* Full Screen Hero */
.hero-full-screen {
  @media ($breakpoint-mobile) {
    margin: 30px 0px;
    &:first-child {
      .hero-full-screen__content {
        &--image-section {
          display: none;
        }
      }
    }
  }
}

/* Details Hero */
.hero-details {
  @media ($breakpoint-mobile) {
    margin: 25px auto;
    &__content {
      &--image-section {
        --Width: 50%;
        --Height: 100%;
        @include width-height--min-max(width, var(--Width));
        @include width-height--min-max(height, var(--Height));
        margin: 0 auto;
      }
    }
  }
}

/* Hero */
.hero {
  --Width: 100%;
  background-color: var(--Color--primary);
  @include width-height--min-max(width, var(--Width));
  @media ($breakpoint-desktop) {
    &__content {
      --Height: 100vh;
      @include width-height--min-max(height, var(--Height));
    }
    &:nth-child(odd) {
      .hero__content {
        &--image-section {
          &__image {
            --Polygon: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
            @supports (clip-path: var(--Polygon)) {
              clip-path: var(--Polygon);
            }
          }
        }
      }
    }
    &:nth-child(even) {
      .hero__content {
        &--text-section {
          grid-column: 2;
        }
        &--image-section {
          grid-column: 1;
          grid-row: 1;
          &__image {
            --Polygon: polygon(0% 0%, 70% 0%, 100% 100%, 0% 100%);
            @supports (clip-path: var(--Polygon)) {
              clip-path: var(--Polygon);
            }
          }
        }
      }
    }
  }
  &__content {
    background-color: var(--Color--primary);
    @media ($breakpoint-mobile) {
      --Width: 95%;
      padding: var(--Padding--sm);
      box-shadow: var(--BoxShadow--default);
      @include width-height--min-max(width, var(--Width));
      margin: 0px auto;
      border-radius: var(--BorderRadius--default);
    }
    @media ($breakpoint-desktop) {
      --Column--Width: 50%;
      grid-template-columns: var(--Column--Width) var(--Column--Width);
      align-items: center;
      display: grid;
    }
    &--text-section {
      --Height: 100%;
      background-color: var(--Color--primary);
      display: grid;
      @include width-height--min-max(height, var(--Height));
      align-content: center;
      @media ($breakpoint-mobile) {
        align-items: center;
        padding: var(--Padding--sm);
        text-align: center;
      }
      @media ($breakpoint-desktop) {
        --Width: 100%;
        justify-content: center;
        @include width-height--min-max(width, var(--Width));
      }
      &__title {
        line-height: var(--LineHeight--default);
        @include heading(var(--FontWeight--default), var(--FontSize--lg), var(--FontSize--xxxl));
        @media ($breakpoint-desktop) {
          margin: 0px 20px;
        }
      }
      &__description {
        line-height: var(--LineHeight--default);
        @include heading(var(--FontWeight--default), var(--FontSize--big), var(--FontSize--xl));
        margin: 0px 20px;
      }
    }
    &--image-section {
      background-color: var(--Color--primary);
      @media ($breakpoint-desktop) {
        --Width--Height: 100%;
        @include width-height--min-max(width, var(--Width--Height));
        @include width-height--min-max(height, var(--Width--Height));
        display: grid;
      }
      &__image {
        --Width--Height: 100%;
        @include width-height--min-max(width, var(--Width--Height));
        @include width-height--min-max(height, var(--Width--Height));
        border-radius: var(--BorderRadius--default);
      }
    }
  }
}
