/* Full Screen Hero */
.hero-full-screen {
  @media (map-get($breakpoint, "mobile")) {
    margin: 30px 0px;
    &:first-child {
      .hero-full-screen__content {
        &--image-section {
          display: none;
        }
      }
    }
  }
}

/* Details Hero */
.hero-details {
  @media (map-get($breakpoint, "mobile")) {
    margin: 25px auto;
    &__content {
      &--image-section {
        $HeroDetailsContentImageSection--Width: 50%;
        $HeroDetailsContentImageSection--Height: 100%;
        @include width-height--min-max(
          width,
          $HeroDetailsContentImageSection--Width
        );
        @include width-height--min-max(
          height,
          $HeroDetailsContentImageSection--Height
        );
        margin: 0 auto;
      }
    }
  }
}

/* Hero */
.hero {
  $Hero--Width: 100%;
  background-color: map-get($color, "primary");
  @include width-height--min-max(width, $Hero--Width);
  @media (map-get($breakpoint, "desktop")) {
    &__content {
      $HeroContent--Height: 100vh;
      @include width-height--min-max(height, $HeroContent--Height);
    }
    &:nth-child(odd) {
      .hero__content {
        &--image-section {
          &__image {
            $OddHeroContentImageSectionImage--Polygon: polygon(
              30% 0%,
              100% 0%,
              100% 100%,
              0% 100%
            );
            @supports (clip-path: $OddHeroContentImageSectionImage--Polygon) {
              clip-path: $OddHeroContentImageSectionImage--Polygon;
            }
          }
        }
      }
    }
    &:nth-child(even) {
      .hero__content {
        &--text-section {
          grid-column: 2;
        }
        &--image-section {
          grid-column: 1;
          grid-row: 1;
          &__image {
            $EvenHeroContentImageSectionImage--Polygon: polygon(
              0% 0%,
              70% 0%,
              100% 100%,
              0% 100%
            );
            @supports (clip-path: $EvenHeroContentImageSectionImage--Polygon) {
              clip-path: $EvenHeroContentImageSectionImage--Polygon;
            }
          }
        }
      }
    }
  }
  &__content {
    background-color: map-get($color, "primary");
    @media (map-get($breakpoint, "mobile")) {
      $HeroContent--Width: 95%;
      padding: map-get($padding, "sm");
      box-shadow: map-get($boxShadow, "sm");
      @include width-height--min-max(width, $HeroContent--Width);
      margin: 0px auto;
      border-radius: map-get($borderRadius, "md");
    }
    @media (map-get($breakpoint, "desktop")) {
      $HeroContent--Column--Width--Desktop: 50%;
      grid-template-columns: $HeroContent--Column--Width--Desktop $HeroContent--Column--Width--Desktop;
      align-items: center;
      display: grid;
    }
    &--text-section {
      $HeroContentTextSection--Height: 100%;
      background-color: map-get($color, "primary");
      display: grid;
      @include width-height--min-max(height, $HeroContentTextSection--Height);
      align-content: center;
      @media (map-get($breakpoint, "mobile")) {
        align-items: center;
        padding: map-get($padding, "sm");
        text-align: center;
      }
      @media (map-get($breakpoint, "desktop")) {
        $HeroContentTextSection--Width--Desktop: 100%;
        justify-content: center;
        @include width-height--min-max(
          width,
          $HeroContentTextSection--Width--Desktop
        );
      }
      &__title {
        line-height: map-get($lineHeight, "md");
        @include heading(
          map-get($fontWeight, "md"),
          map-get($fontSize, "xl"),
          map-get($fontSize, "xxxxl")
        );
        @media (map-get($breakpoint, "desktop")) {
          margin: 0px 20px;
        }
      }
      &__description {
        line-height: map-get($lineHeight, "md");
        @include heading(
          map-get($fontWeight, "md"),
          map-get($fontSize, "lg"),
          map-get($fontSize, "xl")
        );
        margin: 0px 20px;
      }
    }
    &--image-section {
      background-color: map-get($color, "primary");
      @media (map-get($breakpoint, "desktop")) {
        $HeroContentImageSection--WidthHeight--Desktop: 100%;
        @include width-height--min-max(
          width,
          $HeroContentImageSection--WidthHeight--Desktop
        );
        @include width-height--min-max(
          height,
          $HeroContentImageSection--WidthHeight--Desktop
        );
        display: grid;
      }
      &__image {
        $HeroContentImageSectionImage--WidthHeight: 100%;
        @include width-height--min-max(
          width,
          $HeroContentImageSectionImage--WidthHeight
        );
        @include width-height--min-max(
          height,
          $HeroContentImageSectionImage--WidthHeight
        );
        border-radius: map-get($borderRadius, "md");
      }
    }
  }
}
