/* Element Link */
@mixin element--link {
  text-decoration: none;
  color: inherit;
}

/* Width and Height Min-Max */
/* (height/width, value) */
@mixin width-height--min-max($property, $value) {
  min-#{$property}: $value;
  #{$property}: $value;
  max-#{$property}: $value;
}

/* Heading */
/* (font-weight, mobile font-size, desktop font-size) */
@mixin heading($weight, $size-mobile, $size-desktop) {
  font-weight: $weight;
  @media (map-get($breakpoint, "mobile")) {
    font-size: $size-mobile;
  }
  @media (map-get($breakpoint, "desktop")) {
    font-size: $size-desktop;
  }
}