/* Variables */
:root {
  /* Font Stacks */
  --ff-system-ui: system-ui;

  /* Colors */
  /* Brand Colors */
  --c-brand: lab(0 0 0);
  --c-brand-2: lab(17.91 -2.61 -0.89);
  --c-brand-3: lab(3.2 -0.55 -0.2);
  --c-brand-4: gray(80);
  /* Text Colors */
  --c-text-light: gray(90);

  /* Border Radii */
  --br-default: 5px;

  /* Paddings */
  --p-default: 10px 20px;

  /* Font Weights */
  --fw-default: 400;
}
