*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: map-get($fontFamily, "stock");
  @supports (font-family: map-get($fontFamily, "system-ui")) {
    font-family: map-get($fontFamily, "system-ui");
  }
  @media (prefers-reduced-motion: reduce) {
    animation: none;
    transition: none;
  }
}

html {
  overflow-x: hidden;
  @supports (-webkit-overflow-scrolling: touch) {
    -webkit-overflow-scrolling: touch;
  }
}

body {
  background-color: map-get($color, "primary");
}
