.global-site-message {
  $GloalSiteMessage--Width: 100%;
  padding: map-get($padding, "md");
  background-color: map-get($color, "primary");
  position: fixed;
  bottom: 0;
  @include width-height--min-max(width, $GloalSiteMessage--Width);
  display: grid;
  justify-content: center;
  box-shadow: map-get($boxShadow, "sm");
  &__text {
    line-height: map-get($lineHeight, "md");
    color: black;
    text-align: center;
    @media (map-get($breakpoint, "mobile")) {
      font-size: map-get($fontSize, "lg");
    }
    @media (map-get($breakpoint, "desktop")) {
      font-size: map-get($fontSize, "xl");
    }
  }
}
