.preview-site-changes {
  @include boxShadow(lg);
  @include borderRadius(md);
  width: 90%;
  position: relative;
  top: 0;
  z-index: 100000000000000000000;
  margin: 20px auto;
  &:not[open] {
    display: none;
  }
}
