.form__button {
  padding: var(--p-default);
  border-radius: var(--br-default);
  width: 100%;
  margin: 25.35px 0px;
  cursor: pointer;
  transition: 0.25s all;
  background-color: var(--c-brand-4);
  &:hover {
    background-color: var(--c-brand);
    color: var(--c-text-light);
  }
  @media (--viewport-mobile) {
    font-size: 1.25em;
  }
  @media (--viewport-desktop) {
    font-size: 1.35em;
  }
}
