.form--wrapper {
  justify-content: center;
  @mixin layout-flex-column;
  & .form {
    @mixin layout-flex-column;
    padding: var(--padding);
    border-radius: var(--border-radius);
    background-color: var(--color-brand-2);
    @media (--viewport-mobile) {
      margin: 47px 0px;
    }
    @media (--viewport-desktop) {
      --width: 700px;
      min-width: var(--width);
      width: var(--width);
      max-width: var(--width);
      margin: 100px auto;
    }
  }
}
