/* Header */
.global-header {
  --bs: 1px 1px 3px var(--c-bs-light);
  grid-area: h;
  justify-items: center;
  box-shadow: var(--bs);
  position: sticky;
  z-index: 1000000;
  top: 0;
  &__title {
    @include heading(var(--fw-sm), var(--fs-lg), var(--fs-xl));
  }
}

/* Admin Header */
.global-header-admin {
  grid-template-columns: 60% 40%;
  @media (--viewport-mobile) {
    align-items: end;
  }
  @media (--viewport-desktop) {
    align-items: center;
  }
  .global-header__title {
    justify-self: left;
  }
  &__icon-gear--link {
    justify-self: right;
    .icon-gear {
      --wh: 36.63px;
      @include width-height--min-max(width, var(--wh));
      @include width-height--min-max(height, var(--wh));
      g {
        path {
          transition: 0.25s all;
        }
      }
      &:hover {
        g {
          path {
            fill: #000;
          }
        }
      }
    }
  }
}

/* Footer */
.global-footer {
  --p: 0px 10px;
  align-items: center;
  border-top: 1px solid #00000046;
  margin-top: 0.25px;
  justify-content: center;
  grid-area: f;
  margin-top: 50px;
  @media (--viewport-mobile) {
    justify-items: center;
  }
  @media (--viewport-desktop) {
    --cw: 50%;
    grid-template-columns: var(--cw) var(--cw);
  }
  &__title {
    @include heading(var(--fw-sm), var(--fs-lg), var(--fs-lg));
    @media (--viewport-desktop) {
      padding: var(--p);
    }
  }
  &__copyright {
    @media (--viewport-mobile) {
      font-size: var(--fs-xs);
      padding: var(--p-default);
    }
    @media (--viewport-desktop) {
      font-size: var(--fs-sm);
      padding: var(--p);
      text-align: right;
    }
  }
}

/* Both */
.global-header-footer {
  --w: 100%;
  background-color: var(--c-brand);
  padding: var(--p-default);
  display: grid;
  @include width-height--min-max(width, var(--w));
  &__title {
    &--link {
      @include element--link;
    }
  }
}
