/* Header */
.global-header {
  @include boxShadow(sm);
  position: sticky;
  top: 0;
  @include flex(row);
  justify-content: center;
  &__title {
    @include heading(
      map-get($fontWeight, "sm"),
      map-get($fontSize, "lg"),
      map-get($fontSize, "lg")
    );
  }
}

/* Admin Header */
.global-header-admin {
  .global-header__title {
    flex: 1;
  }
  &__icon-gear--link {
    .icon-gear {
      width: 36.63px;
      height: 36.63px;
      g {
        path {
          transition: 0.25s all;
        }
      }
      &:hover {
        g {
          path {
            fill: #000;
          }
        }
      }
    }
  }
}

/* Footer */
.global-footer {
  align-items: center;
  border-top: 1px solid #00000046;
  @media (max-width: $mobile) {
    justify-content: center;
    @include flex(column);
  }
  @media (min-width: $desktop) {
    @include flex(row);
  }
  &__title {
    @include heading(
      map-get($fontWeight, "sm"),
      map-get($fontSize, "lg"),
      map-get($fontSize, "lg")
    );
    @media (min-width: $desktop) {
      padding: 0px 10px;
      flex: 1;
    }
  }
  &__copyright {
    @media (max-width: $mobile) {
      @include fontSize(xs);
      @include padding(md);
    }
    @media (min-width: $desktop) {
      @include fontSize(sm);
      padding: 0px 10px;
      text-align: right;
    }
  }
}

/* Both */
.global-header-footer {
  background-color: map-get($color, "primary");
  @include padding(md);
  z-index: 100000000;
  width: 100%;
  &__title {
    &--link {
      @include element--link;
    }
  }
}
