/* Header */
.global-header {
  --BoxShadow: 1px 1px 3px var(--Color--BoxShadow--light);
  grid-area: h;
  justify-items: center;
  box-shadow: var(--BoxShadow);
  position: sticky;
  top: 0;
  &__title {
    @include heading(var(--FontWeight--sm), var(--FontSize--lg), var(--FontSize--xl));
  }
}

/* Admin Header */
.global-header-admin {
  grid-template-columns: 60% 40%;
  @media ($breakpoint-mobile) {
    align-items: end;
  }
  @media ($breakpoint-desktop) {
    align-items: center;
  }
  .global-header__title {
    justify-self: left;
  }
  &__icon-gear--link {
    justify-self: right;
    .icon-gear {
      --Width--Height: 36.63px;
      @include width-height--min-max(width, var(--Width--Height));
      @include width-height--min-max(height, var(--Width--Height));
      g {
        path {
          transition: 0.25s all;
        }
      }
      &:hover {
        g {
          path {
            fill: #000;
          }
        }
      }
    }
  }
}

/* Footer */
.global-footer {
  --Padding: 0px 10px;
  align-items: center;
  border-top: 1px solid #00000046;
  margin-top: 0.25px;
  justify-content: center;
  grid-area: f;
  margin-top: 50px;
  @media ($breakpoint-mobile) {
    justify-items: center;
  }
  @media ($breakpoint-desktop) {
    --Column--Width: 50%;
    grid-template-columns: var(--Column--Width) var(--Column--Width);
  }
  &__title {
    @include heading(var(--FontWeight--sm), var(--FontSize--lg), var(--FontSize--lg));
    @media ($breakpoint-desktop) {
      padding: var(--Padding);
    }
  }
  &__copyright {
    @media ($breakpoint-mobile) {
      font-size: var(--FontSize--xs);
      padding: var(--Padding--default);
    }
    @media ($breakpoint-desktop) {
      font-size: var(--FontSize--sm);
      padding: var(--Padding);
      text-align: right;
    }
  }
}

/* Both */
.global-header-footer {
  --Width: 100%;
  background-color: var(--Color--primary);
  padding: var(--Padding--default);
  display: grid;
  z-index: 1000000;
  @include width-height--min-max(width, var(--Width));
  &__title {
    &--link {
      @include element--link;
    }
  }
}
