.form {
  &__title {
    @include fontSize(lg);
    @include fontWeight(md);
    @include boxShadow(sm);
    @include padding(sm);
    text-align: center;
    margin: 20px auto;
    @include mobile {
      width: 95%;
    }
    @include desktop {
      width: 35%;
    }
  }
}