.form__input {
  @include padding(sm);
  @include borderRadius(md);
  @include fontSize(sm);
  border: 1.5px solid black;
  margin: 5px 0px;
  width: 100%;
  transition: 0.35s all;
  &:hover {
    @include boxShadow(md);
    @include fontSize(lg);
    border-color: transparent;
  }
}